.home-section {
  background-image: url("../assets/home_bg.jpg");
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bolder;
}

.home-section p {
  color: #fff !important;
  font-weight: bolder;
}

.home-button {
  margin: 8px 15px 8px 15px;
  background-color: #039be5;
}

.login-button {
  background-color: #01579b !important;
}

.custom-shadow {
  text-shadow: 2px 2px gray;
}
